---
- name: Install base packages
  ansible.builtin.package:
    name:
      - gcc
      - bzip2
      - libyaml-devel
      - libffi-devel
      - readline-devel
      - zlib-devel
      - gdbm-devel
      - ncurses-devel
      - tmux
  become: true

- name: Fedora base packages
  ansible.builtin.package:
    name:
      - openssl-devel
  become: true
  when: ansible_facts['os_family'] == 'RedHat'

- name: openSUSE base packages
  ansible.builtin.package:
    name:
      - libopenssl-devel
  become: true
  when: ansible_facts['os_family'] == 'Suse'

- name: openSUSE build essentials
  zypper:
    name: devel_basis
    type: pattern
    state: present
  become: true
  when: ansible_facts['os_family'] == 'Suse'

- name: Install Ruby, Node.js
  include_role:
    name: particledecay.asdf
  vars:
    asdf_plugins:
      - name: ruby
        versions:
          - "3.0.2"
        global: "3.0.2"
      - name: nodejs
        versions:
          - "latest"
        global: "latest"

- name: Clone TPM to TMUX plugins
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: ~/.tmux/plugins/tpm

- name: Tmuxinator
  community.general.gem:
    name: tmuxinator
    state: latest
    bindir: ~/.local/bin

- name: TMUX config
  template:
    src: "tmux.conf.j2"
    dest: "~/.tmux.conf"

- name: Add the flathub flatpak repository remote to the user installation
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo

- name: Flathub packages
  community.general.flatpak:
    name:
      - com.github.vladimiry.ElectronMail
    state: present
  become: true
