---
- name: Determine operating system
  debug: var=ansible_distribution

- include_vars: "{{ playbook_dir }}/vars/osx.yml"
  when: ansible_distribution == "MacOSX"

- include_vars: "{{ playbook_dir }}/vars/linux.yml"
  when: ansible_distribution != "MacOSX"

- include_tasks: osx.yml
  when: ansible_distribution == "MacOSX"

- include_tasks: fedora.yml
  when: ansible_distribution == "Fedora"

- include_tasks: ubuntu.yml
  when: ansible_distribution == "Ubuntu"

- include: redhat.yml
  when: ansible_distribution == "RedHat"
