---
- name: Install base OS X packages
  homebrew:
    name: "{{item}}"
    update_homebrew: yes
    upgrade_all: yes
    state: latest
  with_items:
    - curl
    - sqlite3
    - phantomjs
    - wget
    - memcached
    - redis
    - imagemagick
    - python3
    - mongo
    - macvim
    - gpg

- name: Install base OS X apps
  homebrew_cask:
    name: "{{item}}"
    state: present
  with_items:
    - skype
    - google-chrome
    - dropbox
    - skitch
    - omnifocus
    - hyperdock
    - rubymine
    - sequel-pro
    - postgres
    - java
    - flux
    - pgadmin3
    - vagrant
    - ngrok
    - slack
    - eclipse-ide
    - 1password
    - alfred
    - iterm2
    - virtualbox
    - caprine
    - karabiner
    - karabiner-elements
    - bartender
    - spotify
    - firefox

- name: Link homebrew applications
  shell: brew linkapps
