---
- name: Install base OS X packages
  homebrew:
    name: "{{item}}"
    update_homebrew: yes
    upgrade_all: yes
    state: latest
  with_items:
    - curl
    - sqlite3
    - phantomjs
    - wget
    - npm
    - memcached
    - redis
    - imagemagick
    - elasticsearch17
    - python3
    - mongo
    - macvim

- name: Install base OS X apps
  homebrew_cask:
    name: "{{item}}"
    state: present
  with_items:
    - skype
    - evernote
    - google-chrome
    - dropbox
    - skitch
    - omnifocus
    - hyperdock
    - rubymine
    - sequel-pro
    - postgres
    - java
    - flux
    - pgadmin3
    - vagrant
    - ngrok
    - textexpander
    - slack
    - eclipse-ide
    - atom
    - 1password
    - alfred
    - iterm2
    - bartender
    - rescuetime
    - virtualbox
    - caprine

- name: Link homebrew applications
  shell: brew linkapps

- name: Install railwaycat tap
  homebrew_tap:
    name: "{{item}}"
    state: present
  with_items:
    - railwaycat/emacsmacport

- name: Install Mac Emacs
  homebrew:
    name: "{{item}}"
    state: latest
    update_homebrew: yes
    upgrade_all: yes
  with_items:
    - emacs-mac
