---
- name: Install base OS X packages
  homebrew:
    name: "{{item}}"
    update_homebrew: yes
    upgrade_all: yes
    state: latest
  with_items:
    - qt
    - curl
    - sqlite3
    - phantomjs
    - wget
    - cask
    - emacs
    - npm

- name: Install base OS X apps
  homebrew_cask:
    name: "{{item}}"
    state: present
  with_items:
    - skype
    - transmit
    - evernote
    - google-chrome
    - dropbox
    - skitch
    - omnifocus
    - sublime-text
    - hyperdock
    - intellij-idea-ce
    - sequel-pro
    - heroku-toolbelt
    - postgres
    - java
    - flowdock
    - seil
    - flux
    - pgadmin3
    - vagrant
    - ngrok
    - textexpander

- name: Install python packages
  pip: requirements=~/Workspace/dotfiles/ansible/roles/base_osx/files/requirements.txt

- name: Install npm packages
  npm: name=yo global=yes
  npm: name=bower global=yes
  npm: name=gulp global=yes
  npm: name=generator-karma global-yes
  npm: name=generator-angular global=yes


