---
- name: Install base OS X packages
  homebrew:
    name: "{{item}}"
    update_homebrew: yes
    upgrade_all: yes
    state: latest
  with_items:
    - curl
    - sqlite3
    - phantomjs
    - cask
    - wget
    - npm
    - memcached
    - redis
    - imagemagick
    - elasticsearch17
    - python3
    - mongo

- name: Install base OS X apps
  homebrew_cask:
    name: "{{item}}"
    state: present
  with_items:
    - skype
    - evernote
    - google-chrome
    - dropbox
    - skitch
    - omnifocus
    - hyperdock
    - rubymine
    - sequel-pro
    - postgres
    - java
    - flux
    - pgadmin3
    - vagrant
    - ngrok
    - textexpander
    - slack
    - eclipse-ide
    - atom
    - 1password
    - alfred
    - iterm2
    - bartender
    - rescuetime
    - virtualbox
    - caprine

- name: Link homebrew applications
  shell: brew linkapps

- name: Install python packages
  pip: requirements=~/Workspace/dotfiles/ansible/roles/base_osx/files/requirements.txt

- name: Install npm packages
  npm: name="{{item}}" global=yes
  with_items:
    - yo
    - bower
    - gulp
    - generator-angular
    - generator-karma

- name: Install RVM
  shell: curl -sSL https://get.rvm.io | bash -s stable
