---
- name: Install base OS X packages
  homebrew:
    name: "{{item}}"
    update_homebrew: yes
    upgrade_all: yes
    state: latest
  with_items:
    - qt
    - curl
    - sqlite3
    - phantomjs
    - wget
    - cask
    - emacs

- name: Install base OS X apps
  homebrew_cask:
    name: "{{item}}"
    state: present
  with_items:
    - skype
    - transmit
    - evernote
    - google-chrome
    - dropbox
    - skitch
    - omnifocus
    - sublime-text
    - hyperdock
    - intellij-idea-ce
    - sequel-pro
    - heroku-toolbelt
    - postgres
    - java
    - flowdock
    - seil
    - flux
    - pgadmin3