---
- name: Install Fish shell
  ansible.builtin.package:
    name: fish
  become: true

- name: Change default shell
  ansible.builtin.shell: chsh -s /usr/bin/{{ default_shell|quote }}
  become: true

- name: Install Oh My Posh
  ansible.builtin.shell: |
    wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/posh-linux-amd64 -O /usr/local/bin/oh-my-posh
    chmod +x /usr/local/bin/oh-my-posh
   become: true

- name: Download Oh My Posh Themes
  ansible.builtin.shell: |
    mkdir ~/.poshthemes
    wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/themes.zip -O ~/.poshthemes/themes.zip
    unzip ~/.poshthemes/themes.zip -d ~/.poshthemes
    chmod u+rw ~/.poshthemes/*.json
    rm ~/.poshthemes/themes.zip

 - name: Ensure fish config directory exists
  file:
     path: "~/.config/fish"
     state: directory

- name: Set fish config file
  template:
    src: "config.fish.j2"
    dest: "~/.config/fish/config.fish"

- name: Install fisher plugin manager
  ansible.builtin.shell: curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
  args:
    executable: /usr/bin/fish

- name: Install asdf fish plugin
  ansible.builtin.shell: fisher install rstacruz/fish-asdf
  args:
    executable: /usr/bin/fish
