- name: Clone TPM to TMUX plugins
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: ~/.tmux/plugins/tpm

- name: Tmuxinator
  community.general.gem:
    name: tmuxinator
    state: latest
    bindir: ~/.local/bin

- name: TMUX config
  template:
    src: "tmux.conf.j2"
    dest: "~/.tmux.conf"
