---
- name: Install base packages
  ansible.builtin.package:
    name:
      - gcc
      - bzip2
      - libyaml-devel
      - libffi-devel
      - readline-devel
      - zlib-devel
      - gdbm-devel
      - ncurses-devel
      - cmake
      - libtool
  become: true

- name: Fedora base packages
  ansible.builtin.package:
    name:
      - openssl-devel
      - util-linux-user
  when: ansible_facts['os_family'] == 'RedHat'
  become: true

- name: openSUSE base packages
  ansible.builtin.package:
    name:
      - libopenssl-devel
  when: ansible_facts['os_family'] == 'Suse'
  become: true

- name: openSUSE build essentials
  zypper:
    name: devel_basis
    type: pattern
    state: present
  when: ansible_facts['os_family'] == 'Suse'
  become: true
# - name: Add the flathub flatpak repository remote to the user installation
#   community.general.flatpak_remote:
#     name: flathub
#     state: present
#     flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
#   become: true
