- name: Check for Cask installation
  stat: path=~/.cask
  register: p

- name: Install Cask
  shell: curl -fsSL https://raw.githubusercontent.com/cask/cask/master/go | python
  when: not p.stat.exists

- name: Copy emacs.d
  file:
    src={{ playbook_dir}}/roles/emacs/files/emacs.d
    dest=~/.emacs.d
    state="link"

- name: Cask install dependencies
  shell: ~/.cask/bin/cask install
  args:
    chdir: ~/.emacs.d
  when: not p.stat.exists
